.NewSharedPage{

    button{
        letter-spacing: 0.5px;
        font-size: 12px;
        font-weight: 600;
        opacity: 0.5;
        transition: opacity 200ms ease-out;
        &:hover{
            opacity: 1;
        }
    }
  
}